# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Local Feed Cache
feed_cache.xml

# IDE and Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
db.webproj
.DS_Store

# Environments / Secrets
.env
.flaskenv
dist/
build/
*.egg-info/
